@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@400;700&display=swap');

/* iphone 12 pro landscape/ */
@media only screen and (max-width: 843px) {
    body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: #8a7f8d;
    }

/* ------------------------------Navigation Bar------------------------------ */

    nav {
        padding: 10px 0;
        background-color: blue;     
        border-bottom: 7px solid orange;
        border-top: 7px solid orange;
    }

    ul {
        margin: 15px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        background-color: red;
        border-top: 7px solid #8a7f8d;
        border-bottom: 7px solid #8a7f8d;
    }

    li {
        list-style-type: none;
    }

    a {
        color: green;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        background-color: black;
    }

    textarea {
        resize: none;
    }

    .menu-items {
        border: 3px solid orange;
        background-color: black;
    }

     .header-title {
        /* background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        color: #c9c9c9;
        font-family: 'Silkscreen', cursive;
        font-size: 40px;

     }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* ------------------------------Game List------------------------------ */
     .game-list-section {
        display: flex;
        flex-direction: column;
        height: 350px;
        overflow: scroll;
        background-color: #91a3b0;
     }

     .game-title {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        color: #c9c9c9;
        font-family: 'Roboto', sans-serif;
     }

  
     .game-img {
      width: 100%;
      height: 100%;
      object-fit: contain;

     }

     .game-review {
        font-family: 'Roboto', sans-serif;
     }

     .game-rating {
        font-family: 'Roboto', sans-serif;
     }

     .divider-headline {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        background-color: black;
        color: red;
        line-height: 10px;
     }
 
/* ------------------------------Input Form------------------------------ */
     .game-input-section {
        display: flex;
        flex-direction: column;
     }

     .game-input-form {

        display: flex;
        flex-direction: column;
     }

     .game-input {
        /* border: 3px solid green; */
        border: none;
        border-top: 1px solid green;
        border-bottom: 2px solid green;
     }

     .game-input[type="text"] {
        text-align: center;
        background-color: yellow;
     }

     .game-input:focus {
        outline: none;
        box-shadow: 0px 0px 20px 5px green;
     }

     .game-review-input {
        background-color: #91a3b0;
        color: black;
        text-shadow: 0px 0px 5px yellow;
        border: none;
        border-bottom: 2px solid black;
        /* font-family: 'Silkscreen', cursive; */
     }

     .game-review-input::placeholder {
        color: black;
     }

     .game-review-input:focus {
        outline: none;
        border-bottom: 3px solid yellow;
        box-shadow: 0px 0px 10px 5px yellow;
     }

     .rating-input {
        border: none;
        border-top: 1px solid green;
        border-bottom: 2px solid green;
        text-align: center;
        background-color: yellow;
     }

     .rating-input:focus {
        outline: none;
        box-shadow: 0px 0px 20px 5px green;
     }

     .rating-input[type="text"] {
        text-align: center;
        background-color: yellow;
     }

}

/* // Medium devices (tablets, 844px and up) */
@media (min-width: 768px) {
    body {
        background-color: yellow;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-color: green;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background-color: orange;
    }
}