@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Silkscreen:wght@400;700&display=swap');

/* default/ */

    body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: #8a7f8d;
        min-height: 100%;
    }

/* ------------------------------Navigation Bar------------------------------ */

    nav {
        padding: 10px 0;
        background-color: blue;     
        border-bottom: 7px solid orange;
        border-top: 7px solid orange;
    }

    ul {
        margin: 15px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        border-top: 7px solid #8a7f8d;
        border-bottom: 7px solid #8a7f8d;
    }

    li {
        list-style-type: none;
    }

    a {
        color: green;
    }

    header {
      min-height: 20vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      background-color: black;
    }

    select.options {
      text-align: center;
      height: 30px;
      font-size: 1.5rem;
    }

    select.options:hover {
      border: 3px solid yellow;
    }

    textarea {
      resize: none;
    }

    textarea:hover {
      border: 3px solid yellow;
    }

    hr {
      margin-top: 10px;
      width: 30%;
      box-shadow: 0px 0px 15px 5px yellow;
    }



    .menu-items {
        border: 3px solid orange;
        background-color: black;
    }

     .header-title {
        /* background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(255, 0, 0));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
        color: #c9c9c9;
        font-family: 'Silkscreen', cursive;
        font-size: 40px;

     }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* ------------------------------Game List------------------------------ */

     .game-list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 7px solid black;
      background-color: white;
     }

     .game-title {
        margin: 0;
        margin-top: 5px;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        color: #c9c9c9;
        font-family: 'Roboto', sans-serif;
     }

     .img-container {
         border: 1px solid green;
         background-color: black;
     }

     .game-img {
         width: 100%;
         height: 100%;
         object-fit: contain;
     }

     .game-review {
        /* font-family: 'Roboto', sans-serif; */
        padding: 20px;
        text-align: center;
        width: 50%;
        
     }

     .game-rating-low {
         color: red;
     }

     .game-rating-med {
         color: green
     }

     .game-rating-high {
        /* font-family: 'Roboto', sans-serif; */
        color: gold;
     }

     .divider-headline {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50px;
        background-color: black;
        color: #c9c9c9;
        line-height: 10px;
     }
 
/* ------------------------------Input Form------------------------------ */
     .game-input-section {
        display: flex;
        flex-direction: column;
     }

     .game-input-form {

        display: flex;
        flex-direction: column;
     }

     .game-input {
        /* border: 3px solid green; */
        border: none;
        border-top: 1px solid green;
        border-bottom: 2px solid green;
     }

     .game-input[type="text"] {
        text-align: center;
        background-color: yellow;
     }

     .game-input:focus {
        outline: none;
        box-shadow: 0px 0px 20px 5px green;
     }

     .game-review-input {
        background-color: #91a3b0;
        color: black;
        text-shadow: 0px 0px 5px yellow;
        border: none;
        border-bottom: 2px solid black;
        /* font-family: 'Silkscreen', cursive; */
     }

     .game-review-input::placeholder {
        color: black;
     }

     .game-review-input:focus {
        outline: none;
        border-bottom: 3px solid yellow;
        box-shadow: 0px 0px 10px 5px yellow;
     }

     .rating-input {
        border: none;
        border-top: 1px solid green;
        border-bottom: 2px solid green;
        text-align: center;
        background-color: yellow;
     }

     .rating-input:focus {
        outline: none;
        box-shadow: 0px 0px 20px 5px green;
     }

     .rating-input[type="text"] {
        text-align: center;
        background-color: yellow;
     }

@media only screen and (min-width: 300px) {
   .game-list-section {
      display: flex;
      flex-direction: column;
      height: 275px;
      overflow: scroll;
      background-color: #91a3b0;
   }

   .input-select-label {
      text-align: center;
      font-size: 32px;;
  }

}

@media only screen and (min-width: 843px) {
   .game-list-section {
      display: flex;
      flex-direction: column;
      height: 1075px;
      overflow: scroll;
      background-color: #91a3b0;
   }

   .input-select-label {
      text-align: center;
      font-size: 64px;
  }

}